.eb-up-btn {
    border-radius: 30px;
    background-color: #17af10;
    border: 1px solid #17af10;
    color: white;
    font-weight: 600;
}

.eb-up-white-btn {
    border-radius: 30px;
    background-color: #ffffff;
    border: 1px solid #3e455c;
    color: #3e455c;
    font-weight: 600;
}
