<div class="eb-bg-clor-light eb-gbl-padding" style="padding-top: 50px; padding-bottom: 60px;">
    <div class="container">
        <div class="row" #feature>
            <div class="eb-h1" style="width: 100%;text-align: center; color: #00187b;">Why MyEnergyBuddy is different?</div>
            <div style="font-size: 18px; width: 100%;text-align: center; color: #3e455c; padding-top: 20px;">
                A simple and easy to use tool to pick the right plan for you
            </div>
        </div>
        <div class="row" style="text-align: center; padding-top: 50px;">
            <div class="col-md-4">
                <img class="eb-bottom-margin" src="./assets/images/whyeb1.png" width="50%"  alt="">
                <div class="eb-h2 eb-h2-blue eb-bottom-margin">Free to use</div>
                <div>Absolutely no cost to Texas consumers. 
                    No signup fees or hidden charges.</div>
                <hr style="width: 50%; margin-top: 35px; margin-bottom: 35px; background-color: #004ba1;" class="hide-on-desktop">
            </div>
            <div class="col-md-4">
                <img class="eb-bottom-margin" src="./assets/images/whyeb2.png" width="50%"  alt="">
                <div class="eb-h2 eb-h2-blue eb-bottom-margin">Smart Algorithm</div>
                <div>MyEnergyBuddy looks at 100s of energy plans and recommends the cheapest based on your actual usage.</div>
                <hr style="width: 50%; margin-top: 35px; margin-bottom: 35px; background-color: #004ba1;" class="hide-on-desktop">
            </div>
            <div class="col-md-4">
                <img class="eb-bottom-margin" src="./assets/images/whyeb3.png" width="50%"  alt="">
                <div class="eb-h2 eb-h2-blue eb-bottom-margin">Transparency</div>
                <div>Texans can pick any of the best plans with direct enrollment links & peace of mind for a year long or more.</div>
            </div>
        </div>
    </div>
</div>